<app-menu></app-menu>
<div class="container" id="main-content">
    <section class="heading">
        <h1 class="page-title font-weight-bold font-italic">{{ title }}</h1>
        <a *ngIf="loggedInUser.admin" routerLink="/user/create">
            <img width="20" height="20" src="assets/add-icon.png" title="Add New" />
        </a>
    </section>

    <div class="container">
        <div class="row">
            <div class="card col-xl-3 col-lg-4 col-md-6" *ngFor="let user of users">
                <div class="card-body">
                    <h5 class="card-title">{{ user.firstname }} {{ user.lastname }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ user.username }}</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ user.email }}</li>
                        <li class="list-group-item">{{ user.phone }}</li>
                        <li class="list-group-item" *ngIf="user.reviewer">Reviewer</li>
                        <li class="list-group-item" *ngIf="user.admin">Admin</li>
                    </ul>
                    <a routerLink="/user/detail/{{ user.id }}">
                        <i class="bi bi-card-list fs-4 me-2 icon-dark"></i>
                    </a>
                    <a *ngIf="loggedInUser.admin || loggedInUser.id == user.id" routerLink="/user/edit/{{ user.id }}">
                        <i class="bi bi-pencil-fill fs-4 me-2 icon-dark"></i>
                    </a>
                </div>
            </div>
        </div>
        <p *ngIf="message" class="message">{{ message }}</p>
    </div>
</div>