<app-menu></app-menu>
<div class="container" id="main-content">
    <h1 class="page-title font-weight-bold font-italic">{{ title }} for Request Id {{ lineItem.request.id }}</h1>
    <p *ngIf="!lineItem">Loading...</p>
    <div *ngIf="lineItem">
        <main class="single">
            <table class="table table-sm">
                <tbody>
                    <tr>
                        <td>Product: </td>
                        <td>
                            <select [(ngModel)]="lineItem.product" [compareWith]="compProduct" class="rounded">
                                <option *ngFor="let p of products" [ngValue]="p">{{ p.name }} | {{ p.vendor.name }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Quantity:</td>
                        <td>
                            <input [(ngModel)]="lineItem.quantity" class="rounded" type="number" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <span>
            <button (click)="save()" class="btn btn-sm btn-primary">Save</button>
        </span>
        <p *ngIf="message" class="message">{{ message }}</p>
    </div>
</div>
