<app-menu></app-menu>
<div class="container" id="main-content">
    <section class="heading">
        <h1 class="page-title font-weight-bold font-italic">{{ title }}</h1>
        <a routerLink="/product/create">
            <img width="20" height="20" src="assets/add-icon.png" title="Add New" />
        </a>
    </section>

    <div class="container">
        <div class="row">
            <div class="card col-xl-3 col-lg-4 col-md-6" *ngFor="let product of products">
                <img src="../../../../assets/productImages/{{ product.photoPath }}" class="card-img-top" alt="{{ product.name }} image">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{ product.partNumber }}</h6>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Vendor: {{ product.vendor.name }}</li>
                        <li class="list-group-item">{{ product.price | currency }} {{ product.unit }}</li>
                    </ul>
                    <a routerLink="/product/detail/{{ product.id }}">
                        <img width="20" height="20" src="assets/details.png" title="Product Details" />
                    </a>
                    <a routerLink="/product/edit/{{ product.id }}">
                        <img width="20" height="20" src="assets/pencil-icon.png" title="Edit Product" />
                    </a>
                </div>
            </div>
        </div>
        <p *ngIf="message" class="message">{{ message }}</p>
    </div>
</div>