<app-menu></app-menu>
<div class="container" id="main-content" *ngIf="userIsAdmin">
    <h1 class="page-title font-weight-bold font-italic">{{ title }}</h1>
    <p *ngIf="!product">Loading...</p>
    <div *ngIf="product">
        <main class="detail-content col col-md-12 col-lg-8" >
            <table class="table table-sm detail-table">
                <tbody>
                    <tr>
                        <td>Id: </td>
                        <td>
                            <input [(ngModel)]="product.id" class="rounded detail-box" type="text" disabled />
                        </td>
                    </tr>
                    <tr>
                        <td>Vendor: </td>
                        <td>
                            <select [(ngModel)]="product.vendor" class="rounded detail-box" [compareWith]="compVendor">
                                <option *ngFor="let v of vendors" [ngValue]="v">
                                    {{ v.name }}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Part Number:</td>
                        <td>
                            <input [(ngModel)]="product.partNumber" class="rounded detail-box" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td>
                            <input [(ngModel)]="product.name" class="rounded detail-box" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>Price:</td>
                        <td>
                            <input [(ngModel)]="product.price" class="rounded detail-box" type="number" step=".01" />
                        </td>
                    </tr>
                    <tr>
                        <td>Unit:</td>
                        <td>
                            <input [(ngModel)]="product.unit" class="rounded detail-box" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>Photo Path:</td>
                        <td>
                            <input [(ngModel)]="product.photoPath" class="rounded detail-box" type="text" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <span>
            <button (click)="save()" class="btn btn-sm btn-main">Save</button>
        </span>
        <p *ngIf="message" class="message">{{ message }}</p>
    </div>
</div>