nav {
	width:100%;
	background-color: rgb(71, 91, 29);
	padding: 5px 0;
	height: 55px;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	text-align:center;
	font-size: 20px;
}

a {
	color: white;
	text-decoration: none;
	padding: 5px;
	font-family: Ringbearer, Tahoma, serif;
}

a:hover {
	background-color: rgb(53, 68, 22);
}
