<div class="container" id="main-content">
    <h1 class="page-title font-weight-bold font-italic">{{ title }}</h1>
    <p *ngIf="!userLogin">Loading...</p>
    <div *ngIf="userLogin">
        <main class="detail-content col col-md-12 col-lg-8" >
            <table class="table table-sm detail-table">
                <tbody>
                    <tr>
                        <td>Username:</td>
                        <td>
                            <input [(ngModel)]="userLogin.username" class="rounded detail-box" type="text" />
                        </td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td>
                            <input [(ngModel)]="userLogin.password" class="rounded detail-box" type="password" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <span>
            <button (click)="login()" class="btn btn-sm btn-main">Login</button>
        </span>
        <p *ngIf="message" class="message">{{ message }}</p>
    </div>
</div>