<app-menu></app-menu>
<div class="container" id="main-content" *ngIf="userIsReviewer">
    <h1 class="page-title font-weight-bold font-italic">{{ title }}</h1>
    <p *ngIf="!request">Loading...</p>
    <div *ngIf="request">
        <main class="detail-content">
            <table class="table table-sm detail-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Status</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ request.user.firstname + ' ' + request.user.lastname }}</td>
                        <td>{{ request.description }}</td>
                        <td>{{ request.status }}</td>
                        <td>{{ request.total | currency }}</td>
                    </tr>
                </tbody>
            </table>
        </main>
        <section class="container mb-1">
            <h3 class="page-title font-weight-bold font-italic">
                Line Items
                <a *ngIf="request.status == 'NEW' && request.user.id == loggedInUser.id" routerLink="/line-item/create/{{ request.id }}">
                    <i class="bi bi-plus-square-fill"></i>
                </a>
            </h3>
            <div class="row">
                <div class="card col-xl-3 col-lg-4 col-md-6" *ngFor="let li of lineItems">
                    <img src="../../../../assets/productImages/{{ li.product.photoPath }}" class="card-img-top" alt="{{ li.product.name }} image">
                    <div class="card-body">
                        <h5 class="card-title">{{ li.product.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{ li.product.partNumber }}</h6>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Qty: {{ li.quantity }}</li>
                            <li class="list-group-item">Price: {{ li.product.price | currency }}</li>
                            <li class="list-group-item">Line Total: {{ li.product.price * li.quantity | currency }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <button *ngIf="request.status == 'REVIEW'" (click)="approve()" class="btn btn-sm btn-main me-1">Approve</button>
        <input [(ngModel)]="reasonForRejection" class="rounded d-inline-block detail-box w-50 me-1" type="text" placeholder="Reason for Rejection" />
        <button *ngIf="request.status == 'REVIEW'" (click)="reject()" class="btn btn-sm btn-danger">Reject</button>
        <p *ngIf="message" class="message">{{ message }}</p>
    </div>
</div>

