<app-menu></app-menu>
<div class="container" id="main-content" *ngIf="requestUser.id == loggedInUser.id || lineItem.request.status == 'NEW'">
    <h1 class="page-title font-weight-bold font-italic">{{ title }} for Request Id {{ requestId }}</h1>
    <p *ngIf="!lineItem">Loading...</p>
    <div *ngIf="lineItem">
        <main class="detail-content col col-md-12 col-lg-8" >
            <table class="table table-sm detail-table">
                <tbody>
                    <tr>
                        <td>Product: </td>
                        <td>
                            <select [(ngModel)]="lineItem.product" class="rounded detail-box">
                                <option *ngFor="let p of products" [ngValue]="p">{{ p.name }} | {{ p.vendor.name }}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Quantity:</td>
                        <td>
                            <input [(ngModel)]="lineItem.quantity" class="rounded detail-box" type="number" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>
        <span>
            <button (click)="save()" class="btn btn-sm btn-main">Save</button>
        </span>
        <p *ngIf="message" class="message">{{ message }}</p>
    </div>
</div>